target/
logs/
*.swp

# Build Dirs
karl-sensor-sdk/src/cpp/cmake/
karl-sensor-sdk/examples/cpp/cmake/

# Data
data/*/lib/
data/*/bin/
data/*/env/
data/person-detection/PennFudanPed/
*.pbmm
*.scorer
*.pth
python
*.svg
node_modules/

# work dirs
modules/
.controller/
.host/

# person-detection
.bashrc
.python_history
__pycache__/
tmp*
request_pb2.py
request_pb2_grpc.py

# Protobuf
protos/js/
protos/rust/
