[submodule "wasmer"]
	path = submodules/wasmer
	url = git@github.com:ygina/wasmer.git
	branch = package
[submodule "astro-dnssd"]
	path = submodules/astro-dnssd
	url = git@github.com:ygina/astro-dnssd.git
[submodule "wapm-cli"]
	path = submodules/wapm-cli
	url = git@github.com:ygina/wapm-cli.git
