[submodule "wasmer"]
	path = submodules/wasmer
	url = git@github.com:ygina/wasmer.git
	branch = package
[submodule "astro-dnssd"]
	path = submodules/astro-dnssd
	url = git@github.com:ygina/astro-dnssd.git
[submodule "wapm-cli"]
	path = submodules/wapm-cli
	url = git@github.com:ygina/wapm-cli.git
[submodule "karl-node-sdk"]
	path = karl-node-sdk
	url = git@github.com:ygina/karl-node-sdk.git
[submodule "karl-cpp-sdk"]
	path = karl-cpp-sdk
	url = git@github.com:ygina/karl-cpp-sdk.git
[submodule "karl-node-example"]
	path = karl-node-example
	url = git@github.com:ygina/karl-node-example.git
